*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fdf8ef;
}

.container{
    width:100%;
    min-height:100vh;
    padding:35px 70px;
}



header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:110px;
}

.logo{
    font-size:18px;
    color:#1d2333;
}

nav{
    display:flex;
    gap:35px;
}

nav h1{
    font-size:15px;
    font-weight:400;
    color:#555;
}



main{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.left{
    width:52%;
}

.small-title{
    font-size:18px;
    color:#c17c2d;
    letter-spacing:4px;
    margin-bottom:25px;
}

.main-title{
    font-size:74px;
    color:#172033;
    line-height:1.05;
    width:620px;
    margin-bottom:35px;
}

.description{
    width:610px;
    font-size:18px;
    font-weight:400;
    color:#6d6d6d;
    line-height:1.8;
    margin-bottom:45px;
}

.buttons{
    display:flex;
    gap:20px;
}

.btn{
    padding:18px 34px;
    border-radius:40px;
    font-size:17px;
}

.dark{
    background:#0f172a;
    color:white;
}

.light{
    background:white;
    color:#0f172a;
    border:1px solid #ddd;
}



.right{
    width:45%;
    display:flex;
    justify-content:center;
}

.card{
    width:460px;
    height:370px;
    background:linear-gradient(to bottom,#111827,#374151);
    border-radius:30px;
    padding:35px;
    box-shadow:0 30px 50px rgba(0,0,0,.18);
}

.tag{
    display:inline-block;
    background:#434d5d;
    color:white;
    font-size:15px;
    padding:10px 18px;
    border-radius:20px;
    margin-bottom:35px;
}

.card-title{
    font-size:56px;
    color:white;
    margin-bottom:25px;
}

.card-text{
    font-size:18px;
    color:#d1d5db;
    font-weight:400;
    line-height:1.8;
    width:300px;
}